<head>
  <script src="https://kit.fontawesome.com/2e751f8c57.js" crossorigin="anonymous"></script>
</head>
<div class = "container" id = "nav-section">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <i class="fas fa-hashtag">#</i>
        <a class="navbar-brand" href="#">QuotesHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#postQuote">Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<div class = "container">
  <h1 id="headerOne">Quotes Hub</h1>
  <hr>
 
  <div class = "row">
    <div class ="col-md-12">
      <p>Welcome to Quotes Hub, the free avenue to post famous quotes from the smartest of inventors to the artistic poets to inspire the young and old with desire and resilience.</p>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-6">
      <h3>Quotes</h3>
      <div *ngFor='let quote of quotes; let i = index'>
        <div>
          <h5>{{quote.message}} <br><span class="time" >Posted on {{quote.elapsedTime|date|lowercase}}</span></h5>
          <button (click)='toggleDisplay(i)'class="btn btn-secondary">Quote details</button>
        </div>
        <div *ngIf='quote.displayDescription'>
          <app-quote-detail [quotes]='quote' (isIncorrect)='quoteIncorrect($event,i)'></app-quote-detail>
        </div>
      </div>
    </div>
    <div class = "col-md-12" id="postQuote">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>
<div class = "container-fluid" id = "footer-section">
  <section id="contact">
    <p>Having trouble using the site? Reach out to us on</p>
    <p>telephone: +254764646646464<br>
        email: quoteshubhelp@gmail.com
    </p>
  </section>
  <footer>
    <p>Copyright 2021  QuotesHub.Inc</p>
  </footer>
</div>