#nav-section{
  background-color: #020e11;
  text-align: center;
}

#headerOne{
  text-align: center;
}

#footer-section{
  background-color:black;
  margin-bottom: 0px;
}
footer{
  text-align: center;
  margin-bottom: 0px;
}