<div class="container-fluid">
  <h2 class="text-center">Upload a quote</h2>
  <hr>
  <form>
      <div class="form-group">

          <label for="author">Author</label>
          <input type="text" required class="form-control" id="author">

      </div>
      <div class="form-group">

          <label for="quote">Quote</label>
          <textarea class="form-control" id="quote" rows="6" required></textarea>

      </div>
      <div class="form-group">
          <label for="complete">Uploader</label>
          <input type='text' id="uploader" required>

      </div>
  </form>
</div>
